:root {
  --primary-button-color: #f28775;
  --secondary-button-colour: #f9d9c0;
  --heading-font: "Montserrat", sans-serif;
  --paragraph-font: "Open Sans", sans-serif;
  --background-color: #f9f6e4;
  --highlight-color: #f7c289;
}

.btn-branding-primary {
  background-color: var(--primary-button-color);
  color: white;
  border-radius: 4px;
  padding: 12px 25px;
}

.btn-branding-secondary {
  background-color: var(--secondary-button-colour);
  color: white;
  border-radius: 4px;
  padding: 12px 25px;
}

.contact-links {
  margin-top: 30px;
}

.contact-links a {
  margin-right: 10px;
  text-decoration: none;
}

.contact-links a:hover {
  background-color: var(--highlight-color);
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

@media (max-width: 576px) {
  .contact-links a {
    display: block;
    text-align: center;
    margin-top: 5px;
  }
}

.hero {
  margin-top: 75px;
  max-width: fit-content;
  margin-right: 25px;
  margin-left: 25px;
  border: 2px solid var(--highlight-color);
  border-radius: 5px;
  padding: 30px 25px;
  background-color: var(--background-color);
  box-shadow: 0px 10px 17px 2px rgba(110, 110, 109, 0.2);
}

.hero .welcome-message {
  text-align: right;
  margin-top: 150px;
  font-family: var(--heading-font);
  font-weight: 300;
  font-style: italic;
  color: var(--primary-button-color);
}

.social-links {
  text-align: center;
}

.social-links h4 {
  margin-top: 80px;
}

.social-links a {
  font-size: 50px;
  text-decoration: none;
  color: var(--primary-button-color);
  margin: 10px 5px 50px 5px;
}

.social-links a:hover {
  background-color: white;
  color: var(--highlight-color);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.img-fluid {
  margin-top: -32px;
}

.project-link {
  background-color: var(--primary-button-color);
  color: white;
  border-radius: 4px;
  padding: 12px 25px;
  display: block;
  text-align: center;
}

.project-link:hover {
  background-color: var(--highlight-color);
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.homepage-body {
  max-width: fit-content;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 5px;
  background-color: var(--background-color);
  box-shadow: 0px 10px 17px 2px rgba(110, 110, 109, 0.2);
}

.project-img {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .project-img {
    display: none;
  }
}

h1 {
  font-family: var(--heading-font);
  color: var(--primary-button-color);
}

h2,
h4 {
  font-family: var(--paragraph-font);
}

hr {
  color: var(--secondary-button-colour);
  margin: auto;
}
