:root {
  --primary-button-color: #203856;
  --secondary-button-colour: #62aedc;
  --heading-font: "Montserrat", sans-serif;
  --paragraph-font: "Open Sans", sans-serif;
  --background-color: #efe4e6;
  --highlight-color: #b6c7dd;
}

.btn-branding-primary {
  background-color: var(--primary-button-color);
  color: white;
  border-radius: 4px;
  padding: 12px 25px;
}

.btn-branding-secondary {
  background-color: var(--secondary-button-colour);
  color: white;
  border-radius: 4px;
  padding: 12px 25px;
}

.navbar-color {
  background: radial-gradient(
    circle at 50% 50%,
    #fbe8a6,
    #f7e9a7,
    #edebab,
    #deeeb2,
    #cef0bd,
    #bff1cb,
    #b5f0da,
    #b1eee6,
    #b2ecee,
    #b6e9f2,
    #bae8f4,
    #bce7f4
  );
}

.contact-links {
  margin-top: 30px;
}

.contact-links a {
  margin-right: 10px;
  text-decoration: none;
}

.contact-links a:hover {
  background-color: var(--highlight-color);
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

@media (max-width: 576px) {
  .contact-links a {
    display: block;
    text-align: center;
    margin-top: 5px;
  }

  .contact-links {
    padding-top: 20px;
  }
}

.hero {
  padding: 100px 50px;
  border-radius: 4px;
  background: radial-gradient(
    circle at 50% 50%,
    #fbe8a6,
    #f7e9a7,
    #edebab,
    #deeeb2,
    #cef0bd,
    #bff1cb,
    #b5f0da,
    #b1eee6,
    #b2ecee,
    #b6e9f2,
    #bae8f4,
    #bce7f4
  );
}

.hero .welcome-message {
  text-align: right;
  margin-top: 270px;
  font-family: var(--heading-font);
  font-weight: 300;
  font-style: italic;
  color: var(--primary-button-color);
}

@media (max-width: 576px) {
  .hero .welcome-message {
    margin-top: 90px;
  }
}

.social-links {
  text-align: center;
}

.social-links h4 {
  margin-top: 80px;
}

.social-links a {
  font-size: 50px;
  text-decoration: none;
  color: var(--primary-button-color);
  margin: 10px 5px 50px 5px;
}

.social-links a:hover {
  background-color: white;
  color: var(--highlight-color);
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.img-fluid {
  margin-top: -32px;
}

.project-link {
  background-color: var(--primary-button-color);
  color: white;
  border-radius: 4px;
  padding: 12px 25px;
  display: block;
  text-align: center;
}

.project-link:hover {
  background-color: var(--highlight-color);
  color: white;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.homepage-body {
  max-width: fit-content;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 5px;
  background-color: var(--background-color);
  box-shadow: 0px 10px 17px 2px rgba(110, 110, 109, 0.2);
}

.navbar-name {
  font-family: var(--heading-font);
  opacity: 75%;
}

.about-hero {
  padding: 100px 50px;
  border-radius: 4px;
  margin-top: 50px;
}

.img-headshot {
  border-radius: 10px;
  margin: 10px 0px 10px 0px;
}

.training-grid {
  margin-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.title-certificate {
  margin-bottom: 45px;
}

.img-certificate {
  border-radius: 4px;
}

h1 {
  font-family: var(--heading-font);
  color: var(--primary-button-color);
}

h2,
h4 {
  font-family: var(--paragraph-font);
  opacity: 75%;
}

hr {
  color: var(--secondary-button-colour);
  margin: auto;
}
