:root {
  --primary-button-color: cornflowerblue;
  --secondary-button-colour: turquoise;
  --heading-font: "Montserrat", sans-serif;
  --paragraph-font: "Open Sans", sans-serif;
}

.btn-branding-primary {
  background-color: var(--primary-button-color);
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
}

.btn-branding-secondary {
  background-color: var(--secondary-button-colour);
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
}

.contact-links {
  margin-top: 30px;
}

.hero {
  margin: 75px 8px 10px 8px;
  border: 5px solid black;
  padding: 30px 25px;
}

.hero .welcome-message {
  text-align: right;
  margin-top: 150px;
  font-family: var(--heading-font);
  font-weight: 300;
  font-style: italic;
}

.social-links {
  text-align: center;
}

.social-links h4 {
  margin-top: 80px;
}

.social-links a {
  font-size: 50px;
  text-decoration: none;
  color: var(--primary-button-color);
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

h1 {
  font-family: var(--heading-font);
}

h2,
h4 {
  font-family: var(--paragraph-font);
}

hr {
  color: var(--secondary-button-colour);
  margin: auto;
}
